# Copy this file to .env and fill in your values
GROQ_API_KEY=your_groq_api_key_here
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=postgres
DB_USER=ai_readonly
DB_PASSWORD=1234
POSTGRES_PASSWORD=secret
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
MONGO_URI="your cluster link"
USE_OLLAMA=true
MOCK_LLM_MODE=false
